# Selecting Rows from a DataFram with a DatetimeIndex

In [1]:
import pandas_datareader as data

In [50]:
from pandas_datareader import data

In [8]:
import pandas as pd

In [4]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start='2010-01-01', end='2022-12-13')
stocks.head(n=3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800230
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807917
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661802

In [7]:
stocks.loc['2022-07-29']

High         2.820000e+02
Low          2.766300e+02
Open         2.777000e+02
Close        2.807400e+02
Volume       3.212940e+07
Adj Close    2.807400e+02
Name: 2022-07-29 00:00:00, dtype: float64

In [9]:
stocks.loc[pd.Timestamp('2022-7-28')]

High         2.778400e+02
Low          2.678700e+02
Open         2.697500e+02
Close        2.764100e+02
Volume       3.345930e+07
Adj Close    2.764100e+02
Name: 2022-07-28 00:00:00, dtype: float64

In [10]:
stocks.iloc[0]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.380023e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [12]:
stocks.iloc[len(stocks)-1]

High         2.820000e+02
Low          2.766300e+02
Open         2.777000e+02
Close        2.807400e+02
Volume       3.212940e+07
Adj Close    2.807400e+02
Name: 2022-07-29 00:00:00, dtype: float64

In [14]:
stocks.iloc[500]

High         2.614000e+01
Low          2.593000e+01
Open         2.596000e+01
Close        2.604000e+01
Volume       2.128720e+07
Adj Close    2.098461e+01
Name: 2011-12-27 00:00:00, dtype: float64

In [17]:
stocks.index[-1]

Timestamp('2022-07-29 00:00:00')

In [18]:
stocks.iloc[-1]

High         2.820000e+02
Low          2.766300e+02
Open         2.777000e+02
Close        2.807400e+02
Volume       3.212940e+07
Adj Close    2.807400e+02
Name: 2022-07-29 00:00:00, dtype: float64

In [19]:
stocks.iloc[pd.Timestamp(stocks.index[-1])]

TypeError: Cannot index by location index with a non-integer key

In [20]:
stocks.iloc[-3]

High         2.700500e+02
Low          2.588500e+02
Open         2.611600e+02
Close        2.687400e+02
Volume       4.599400e+07
Adj Close    2.687400e+02
Name: 2022-07-27 00:00:00, dtype: float64

In [22]:
stocks.iloc[10000]

IndexError: single positional indexer is out-of-bounds

In [23]:
stocks.loc[['2010-01-04', '2010-01-05']]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  23.800230
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  23.807917

In [25]:
stocks.loc[[pd.Timestamp('2010-01-04'), pd.Timestamp('2010-01-05')]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  23.800230
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  23.807917

In [26]:
stocks.index[-1]

Timestamp('2022-07-29 00:00:00')

In [27]:
stocks.index[-1].year

2022

In [28]:
stocks.loc[pd.Timestamp(year=stocks.index[-1].year,month=stocks.index[-1].month,day=stocks.index[-1].day)]

High         2.820000e+02
Low          2.766300e+02
Open         2.777000e+02
Close        2.807400e+02
Volume       3.212940e+07
Adj Close    2.807400e+02
Name: 2022-07-29 00:00:00, dtype: float64

In [29]:
stocks.iloc[[10,15,30,1000]]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-19  31.240000  30.680000  30.750000  31.100000  46575700.0  23.915567
2010-01-26  29.850000  29.090000  29.200001  29.500000  66639900.0  22.685188
2010-02-17  28.650000  28.360001  28.530001  28.590000  45882900.0  22.088215
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.263420

In [30]:
stocks.loc['2013-10-01':'2013-10-07']

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.452322
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.740393
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.689569
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.706509
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.215069

In [31]:
stocks.truncate(before='2013-10-01', after='2013-10-07')

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.452322
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.740393
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.689569
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.706509
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.215069

In [33]:
stocks.iloc[1000:1005]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.263420
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  31.656128
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  31.963480
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  31.835426
2013-12-30  37.380001  36.900002  37.220001  37.290001  16290500.0  31.835426

In [44]:
dates = pd.date_range(start='1900-04-12',end='07-30-2022',freq=pd.DateOffset(years=1))

In [45]:
dates

DatetimeIndex(['1900-04-12', '1901-04-12', '1902-04-12', '1903-04-12',
               '1904-04-12', '1905-04-12', '1906-04-12', '1907-04-12',
               '1908-04-12', '1909-04-12',
               ...
               '2013-04-12', '2014-04-12', '2015-04-12', '2016-04-12',
               '2017-04-12', '2018-04-12', '2019-04-12', '2020-04-12',
               '2021-04-12', '2022-04-12'],
              dtype='datetime64[ns]', length=123, freq='<DateOffset: years=1>')

In [47]:
mask = stocks.index.isin(dates)

In [48]:
stocks[mask]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.424791
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.246513
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.129915
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.054386
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,49.592106
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,60.749725
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,88.977623
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,116.942665
2021-04-12,257.670013,254.619995,254.710007,255.910004,27148700.0,253.252502
2022-04-12,290.739990,280.489990,289.239990,282.059998,30966700.0,281.404572

In [49]:
stocks.loc[mask]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.424791
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.246513
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.129915
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.054386
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,49.592106
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,60.749725
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,88.977623
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,116.942665
2021-04-12,257.670013,254.619995,254.710007,255.910004,27148700.0,253.252502
2022-04-12,290.739990,280.489990,289.239990,282.059998,30966700.0,281.404572