# Timestamp Object Attributes and Methods

In [1]:
import pandas as pd
from pandas_datareader import data

In [5]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start='2010-01-01', end='2022-12-31')
stocks.head(n=3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800226
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807911
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661804

In [6]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2022-07-18', '2022-07-19', '2022-07-20', '2022-07-21',
               '2022-07-22', '2022-07-25', '2022-07-26', '2022-07-27',
               '2022-07-28', '2022-07-29'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [13]:
stocks.index[3100]

Timestamp('2022-04-27 00:00:00')

In [14]:
someday = stocks.index[3100]

In [15]:
someday.month

4

In [16]:
someday.week

17

In [17]:
someday.is_month_start

False

In [18]:
someday.is_month_end

False

In [19]:
someday.is_month_end

False

In [20]:
someday.is_quarter_start

False

In [21]:
someday.is_quarter_end

False

In [22]:
someday.day

27

In [26]:
someday.day_name()

'Wednesday'

In [25]:
someday.month_name()

'April'

In [27]:
someday

Timestamp('2022-04-27 00:00:00')

In [28]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2022-07-18', '2022-07-19', '2022-07-20', '2022-07-21',
               '2022-07-22', '2022-07-25', '2022-07-26', '2022-07-27',
               '2022-07-28', '2022-07-29'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [29]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=3165)

In [30]:
stocks.index.month_name()

Index(['January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'July', 'July', 'July', 'July', 'July', 'July', 'July', 'July', 'July',
       'July'],
      dtype='object', name='Date', length=3165)

In [31]:
stocks.insert(0,'Day of Week', stocks.index.day_name())

In [32]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800226
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807911
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661804
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415728
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.577219
...,...,...,...,...,...,...,...
2022-07-25,Monday,261.500000,256.809998,261.000000,258.829987,21056000.0,258.829987
2022-07-26,Tuesday,259.880005,249.570007,259.859985,251.899994,39348000.0,251.899994
2022-07-27,Wednesday,270.049988,258.850006,261.160004,268.739990,45994000.0,268.739990
2022-07-28,Thursday,277.839996,267.869995,269.750000,276.410004,33459300.0,276.410004
2022-07-29,Friday,282.000000,276.630005,277.700012,280.739990,32129400.0,280.739990

In [33]:
stocks.index.is_month_start

array([False, False, False, ..., False, False, False])

In [35]:
stocks.insert(1, 'Is Start of Month', stocks.index.is_month_start)

In [36]:
stocks

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800226
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807911
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661804
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415728
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,23.577219
...,...,...,...,...,...,...,...,...
2022-07-25,Monday,False,261.500000,256.809998,261.000000,258.829987,21056000.0,258.829987
2022-07-26,Tuesday,False,259.880005,249.570007,259.859985,251.899994,39348000.0,251.899994
2022-07-27,Wednesday,False,270.049988,258.850006,261.160004,268.739990,45994000.0,268.739990
2022-07-28,Thursday,False,277.839996,267.869995,269.750000,276.410004,33459300.0,276.410004
2022-07-29,Friday,False,282.000000,276.630005,277.700012,280.739990,32129400.0,280.739990

In [37]:
stocks[stocks['Is Start of Month']]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,21.846989
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.420437
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.528593
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.092493
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,17.973810
...,...,...,...,...,...,...,...,...
2022-02-01,Tuesday,True,310.630005,305.130005,310.410004,308.760010,40950400.0,307.406921
2022-03-01,Tuesday,True,299.970001,292.149994,296.399994,294.950012,31217800.0,294.264648
2022-04-01,Friday,True,310.130005,305.540009,309.369995,309.420013,27110500.0,308.701019
2022-06-01,Wednesday,True,277.690002,270.040009,275.200012,272.420013,25292200.0,272.420013
2022-07-01,Friday,True,259.769989,254.610001,256.390015,259.579987,22825200.0,259.579987