In [1]:
# Timeseries offsets

In [3]:
from pandas_datareader import data
import pandas as pd

In [5]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start='2010-01-01', end='2022-12-31')
stocks.head(n=3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800232
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807909
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.661802

In [6]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2022-07-18', '2022-07-19', '2022-07-20', '2022-07-21',
               '2022-07-22', '2022-07-25', '2022-07-26', '2022-07-27',
               '2022-07-28', '2022-07-29'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [7]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2022-07-31', '2022-07-31', '2022-07-31', '2022-07-31',
               '2022-07-31', '2022-07-31', '2022-07-31', '2022-07-31',
               '2022-07-31', '2022-07-31'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [8]:
stocks.tail()

                  High         Low  ...      Volume   Adj Close
Date                                ...
2022-07-25  261.500000  256.809998  ...  21056000.0  258.829987
2022-07-26  259.880005  249.570007  ...  39348000.0  251.899994
2022-07-27  270.049988  258.850006  ...  45994000.0  268.739990
2022-07-28  277.839996  267.869995  ...  33459300.0  276.410004
2022-07-29  282.000000  276.630005  ...  32129400.0  280.739990

[5 rows x 6 columns]

In [9]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2022-06-30', '2022-06-30', '2022-06-30', '2022-06-30',
               '2022-06-30', '2022-06-30', '2022-06-30', '2022-06-30',
               '2022-06-30', '2022-06-30'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [10]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2022-08-01', '2022-08-01', '2022-08-01', '2022-08-01',
               '2022-08-01', '2022-08-01', '2022-08-01', '2022-08-01',
               '2022-08-01', '2022-08-01'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [11]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2022-07-01', '2022-07-01', '2022-07-01', '2022-07-01',
               '2022-07-01', '2022-07-01', '2022-07-01', '2022-07-01',
               '2022-07-01', '2022-07-01'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [12]:
from pandas.tseries import offsets

In [13]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2022-07-31', '2022-07-31', '2022-07-31', '2022-07-31',
               '2022-07-31', '2022-07-31', '2022-07-31', '2022-07-31',
               '2022-07-31', '2022-07-31'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [15]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2022-07-29', '2022-07-29', '2022-07-29', '2022-07-29',
               '2022-07-29', '2022-07-29', '2022-07-29', '2022-07-29',
               '2022-07-29', '2022-08-31'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [16]:
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2022-06-30', '2022-06-30', '2022-06-30', '2022-06-30',
               '2022-06-30', '2022-06-30', '2022-06-30', '2022-06-30',
               '2022-06-30', '2022-06-30'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [18]:
stocks.index + offsets.BQuarterBegin()

DatetimeIndex(['2010-03-01', '2010-03-01', '2010-03-01', '2010-03-01',
               '2010-03-01', '2010-03-01', '2010-03-01', '2010-03-01',
               '2010-03-01', '2010-03-01',
               ...
               '2022-09-01', '2022-09-01', '2022-09-01', '2022-09-01',
               '2022-09-01', '2022-09-01', '2022-09-01', '2022-09-01',
               '2022-09-01', '2022-09-01'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [19]:
stocks.index + offsets.YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2022-12-31', '2022-12-31', '2022-12-31', '2022-12-31',
               '2022-12-31', '2022-12-31', '2022-12-31', '2022-12-31',
               '2022-12-31', '2022-12-31'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)

In [20]:
stocks.index - offsets.YearBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01'],
              dtype='datetime64[ns]', name='Date', length=3165, freq=None)