# The .unique() and .nunique() Methods

In [2]:
import pandas as pd
employees = pd.read_csv('employees.csv', parse_dates=['Start Date', 'Last Login Time'])
employees['Senior Management'] = employees['Senior Management'].astype('bool')
employees['Gender'] = employees['Gender'].astype('category')
employees.head(n=2)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-07-14 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-07-14 06:53:00,61933,4.170,True,NaN

In [4]:
employees['Gender'].unique()

['Male', 'Female', NaN]
Categories (2, object): ['Female', 'Male']

In [5]:
employees['Gender'].dropna().unique()

['Male', 'Female']
Categories (2, object): ['Female', 'Male']

In [6]:
employees['Team'].dropna().unique()

array(['Marketing', 'Finance', 'Client Services', 'Legal', 'Product',
       'Engineering', 'Business Development', 'Human Resources', 'Sales',
       'Distribution'], dtype=object)

In [7]:
len(employees['Team'].dropna().unique())

10

In [8]:
employees['Team'].nunique()

10