# The copy Methd

In [9]:
import pandas as pd
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [10]:
pokemon_series.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [11]:
pokemon_series[0] = "Whatever"
pokemon_series.head()

0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [12]:
pokemon_df.head()

      Pokemon
0    Whatever
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

Big house (DataFrame)
Door
   ^
Painting door we are changing house.

In [13]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [14]:
pokemon_series[0] = "Lets check the copy"
pokemon_series[0]

'Lets check the copy'

In [15]:
pokemon_df.head()

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon