# The head and tail Methods on a Series

In [1]:
import pandas as pd

In [5]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Stock Price"]).squeeze("columns")

In [6]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [7]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [8]:
pokemon.head(1)

0    Bulbasaur
Name: Pokemon, dtype: object

In [9]:
pokemon.head(n=15)

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
Name: Pokemon, dtype: object

In [10]:
google.head(n=3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [11]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [12]:
pokemon.head(n=10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [14]:
pokemon.head(n=1)

0    Bulbasaur
Name: Pokemon, dtype: object

In [15]:
pokemon.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [16]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [17]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [18]:
google.tail(n=2)

3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

# Copy vs View

In [ ]:
|