# 109. Intro to the DataFrames III Module + Import Dataset

In [2]:
import pandas as pd

In [4]:
bond= pd.read_csv('jamesbond.csv')
bond.head(n=2)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6