# Set New Value for a Specific Cell

In [2]:
import pandas as pd
james_bond = pd.read_csv('jamesbond.csv', index_col='Film')
james_bond = james_bond.sort_index()
james_bond.head(n=3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [3]:
james_bond.loc['Dr. No', 'Actor']

'Sean Connery'

In [4]:
james_bond.loc['Dr. No', 'Actor'] = 'Sir Sean Connery'

In [6]:
james_bond.loc['Dr. No', 'Actor']

'Sir Sean Connery'

In [8]:
james_bond.loc['Dr. No', ['Box Office', 'Budget', 'Bond Actor Salary']]

Box Office           448.8
Budget                 7.0
Bond Actor Salary      0.6
Name: Dr. No, dtype: object

In [9]:
james_bond.loc['Dr. No', ['Box Office', 'Budget', 'Bond Actor Salary']] = [448800000, 7000000, 600000]

In [10]:
james_bond.loc['Dr. No']

Year                             1962
Actor                Sir Sean Connery
Director                Terence Young
Box Office                448800000.0
Budget                      7000000.0
Bond Actor Salary            600000.0
Name: Dr. No, dtype: object