# A Review of the .apply() Mehod on Single Columns

In [3]:
import pandas as pd
james_bond = pd.read_csv('jamesbond.csv', index_col='Film')
james_bond = james_bond.sort_index()
james_bond.head(n=2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [1]:
def convert_to_string_and_add_millions(number):
    return str(number) + ' MILLIONS!'

In [4]:
james_bond['Box Office'].apply(convert_to_string_and_add_millions)

Film
A View to a Kill                   275.2 MILLIONS!
Casino Royale                      581.5 MILLIONS!
Casino Royale                      315.0 MILLIONS!
Diamonds Are Forever               442.5 MILLIONS!
Die Another Day                    465.4 MILLIONS!
Dr. No                             448.8 MILLIONS!
For Your Eyes Only                 449.4 MILLIONS!
From Russia with Love              543.8 MILLIONS!
GoldenEye                          518.5 MILLIONS!
Goldfinger                         820.4 MILLIONS!
Licence to Kill                    250.9 MILLIONS!
Live and Let Die                   460.3 MILLIONS!
Moonraker                          535.0 MILLIONS!
Never Say Never Again              380.0 MILLIONS!
Octopussy                          373.8 MILLIONS!
On Her Majesty's Secret Service    291.5 MILLIONS!
Quantum of Solace                  514.2 MILLIONS!
Skyfall                            943.5 MILLIONS!
Spectre                            726.7 MILLIONS!
The Living Daylights               313.5 MILLIONS!
The Man with the Golden Gun        334.0 MILLIONS!
The Spy Who Loved Me               533.0 MILLIONS!
The World Is Not Enough            439.5 MILLIONS!
Thunderball                        848.1 MILLIONS!
Tomorrow Never Dies                463.2 MILLIONS!
You Only Live Twice                514.2 MILLIONS!
Name: Box Office, dtype: object

In [7]:
james_bond['Box Office'] = james_bond['Box Office'].apply(convert_to_string_and_add_millions)

In [8]:
james_bond['Budget'].apply(convert_to_string_and_add_millions)

Film
A View to a Kill                    54.5 MILLIONS!
Casino Royale                      145.3 MILLIONS!
Casino Royale                       85.0 MILLIONS!
Diamonds Are Forever                34.7 MILLIONS!
Die Another Day                    154.2 MILLIONS!
Dr. No                               7.0 MILLIONS!
For Your Eyes Only                  60.2 MILLIONS!
From Russia with Love               12.6 MILLIONS!
GoldenEye                           76.9 MILLIONS!
Goldfinger                          18.6 MILLIONS!
Licence to Kill                     56.7 MILLIONS!
Live and Let Die                    30.8 MILLIONS!
Moonraker                           91.5 MILLIONS!
Never Say Never Again               86.0 MILLIONS!
Octopussy                           53.9 MILLIONS!
On Her Majesty's Secret Service     37.3 MILLIONS!
Quantum of Solace                  181.4 MILLIONS!
Skyfall                            170.2 MILLIONS!
Spectre                            206.3 MILLIONS!
The Living Daylights                68.8 MILLIONS!
The Man with the Golden Gun         27.7 MILLIONS!
The Spy Who Loved Me                45.1 MILLIONS!
The World Is Not Enough            158.3 MILLIONS!
Thunderball                         41.9 MILLIONS!
Tomorrow Never Dies                133.9 MILLIONS!
You Only Live Twice                 59.9 MILLIONS!
Name: Budget, dtype: object

In [9]:
james_bond['Budget'] = james_bond['Budget'].apply(convert_to_string_and_add_millions)

In [10]:
james_bond.head(n=4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLIONS!,54.5 MILLIONS!,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLIONS!,145.3 MILLIONS!,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLIONS!,85.0 MILLIONS!,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 MILLIONS!,34.7 MILLIONS!,5.8

In [21]:
james_bond = pd.read_csv('jamesbond.csv', index_col='Film')
james_bond = james_bond.sort_index()
james_bond.head(n=2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [22]:
columns = ['Box Office', 'Budget', 'Bond Actor Salary']
for col in columns:
    james_bond[col] = james_bond[col].apply(convert_to_string_and_add_millions)

In [23]:
james_bond.head(n=2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLIONS!,54.5 MILLIONS!,9.1 MILLIONS!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLIONS!,145.3 MILLIONS!,3.3 MILLIONS!