# The .copy( Method)

In [1]:
import pandas as pd
james_bond = pd.read_csv('jamesbond.csv', index_col='Film')
james_bond = james_bond.sort_index()
james_bond.head(n=1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [4]:
james_bond['Director'].head(n=2)

Film
A View to a Kill          John Glen
Casino Royale       Martin Campbell
Name: Director, dtype: object

In [7]:
james_bond_directors = james_bond['Director'].copy()

In [8]:
james_bond_directors.head(n=2)

Film
A View to a Kill          John Glen
Casino Royale       Martin Campbell
Name: Director, dtype: object

In [9]:
james_bond_directors['A View to a Kill']

'John Glen'

In [10]:
james_bond_directors['A View to a Kill'] = ' Mister john Glen'

In [11]:
james_bond_directors.head(n=3)

Film
A View to a Kill     Mister john Glen
Casino Royale         Martin Campbell
Casino Royale              Ken Hughes
Name: Director, dtype: object

In [12]:
james_bond.head(n=3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN