# Select Two or More Columns from a DataFrame

In [4]:
import pandas as pd
nba = pd.read_csv("nba.csv")
nba.head(n=3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [9]:
nba[["Name", "Team"]].head(n=2)

            Name            Team
0  Avery Bradley  Boston Celtics
1    Jae Crowder  Boston Celtics

In [11]:
nba[['Team', 'Name']].head(n=4)

             Team           Name
0  Boston Celtics  Avery Bradley
1  Boston Celtics    Jae Crowder
2  Boston Celtics   John Holland
3  Boston Celtics    R.J. Hunter

In [13]:
columns_to_select = ['Salary', 'Team', 'Name']
nba[columns_to_select].head(n=1)

      Salary            Team           Name
0  7730337.0  Boston Celtics  Avery Bradley