# The precision Option

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.random.randint(0,100,[1000,50])
df = pd.DataFrame(data)
df.head(n=2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,39,14,90,66,54,50,55,87,51,40,...,86,25,85,55,50,62,58,93,78,95
1,68,7,70,95,0,81,71,88,90,36,...,78,11,76,94,39,9,86,57,75,73

In [4]:
df = pd.DataFrame(np.random.randn(5,5))

In [5]:
df

          0         1         2         3         4
0 -0.355830 -0.313541 -0.908354 -0.247292 -0.430979
1  0.055379  0.503074  0.856254 -1.558464  0.830917
2 -0.758558 -0.903484 -2.455136  0.020753  1.932782
3 -2.419750 -0.762408 -0.713448  0.796162 -0.355977
4  0.517091  0.245675 -2.561957  1.990878 -1.565916

In [6]:
pd.get_option('precision')

OptionError: Pattern matched multiple keys

In [7]:
pd.options.display.precision

6

In [8]:
pd.options.display.precision = 2

In [9]:
df

      0     1     2     3     4
0 -0.36 -0.31 -0.91 -0.25 -0.43
1  0.06  0.50  0.86 -1.56  0.83
2 -0.76 -0.90 -2.46  0.02  1.93
3 -2.42 -0.76 -0.71  0.80 -0.36
4  0.52  0.25 -2.56  1.99 -1.57

In [10]:
pd.options.display.precision = 6

In [11]:
df

          0         1         2         3         4
0 -0.355830 -0.313541 -0.908354 -0.247292 -0.430979
1  0.055379  0.503074  0.856254 -1.558464  0.830917
2 -0.758558 -0.903484 -2.455136  0.020753  1.932782
3 -2.419750 -0.762408 -0.713448  0.796162 -0.355977
4  0.517091  0.245675 -2.561957  1.990878 -1.565916