# The .agg() Method

In [1]:
import pandas as pd

In [2]:
fortune = pd.read_csv('fortune1000.csv', index_col='Rank')
sectors = fortune.groupby('Sector')
fortune.head(n=3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [3]:
sectors['Employees'].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [4]:
sectors.agg()

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [6]:
sectors.agg({'Revenue':'min'})

                              Revenue
Sector
Aerospace & Defense              1923
Apparel                          2204
Business Services                1910
Chemicals                        2084
Energy                           1898
Engineering & Construction       1909
Financials                       1902
Food and Drug Stores             2151
Food, Beverages & Tobacco        2066
Health Care                      1987
Hotels, Resturants & Leisure     1896
Household Products               1914
Industrials                      1895
Materials                        1924
Media                            1921
Motor Vehicles & Parts           1986
Retailing                        1999
Technology                       1920
Telecommunications               2726
Transportation                   1995
Wholesalers                      1917

In [7]:
sectors.agg({'Profits': 'sum',
                'Employees':'mean'})

                              Profits     Employees
Sector
Aerospace & Defense             28742  48402.850000
Apparel                          8236  23093.133333
Business Services               28227  26687.254902
Chemicals                       22628  15455.033333
Energy                         -73447   9745.303279
Engineering & Construction       5304  15642.615385
Financials                     260209  24172.287770
Food and Drug Stores            16759  93026.533333
Food, Beverages & Tobacco       51417  28177.488372
Health Care                    106114  35710.520000
Hotels, Resturants & Leisure    20697  99369.800000
Household Products              14428  23072.785714
Industrials                     20764  33591.934783
Materials                        4428  14840.069767
Media                           24347  22012.560000
Motor Vehicles & Parts          25898  45106.666667
Retailing                       47830  77845.362500
Technology                     180473  35087.735294
Telecommunications              48637  55497.866667
Transportation                  44169  42688.694444
Wholesalers                      8233  13139.925000

In [8]:
sectors.agg(['size', 'sum', 'min'])

                             Company  \
                                size
Sector
Aerospace & Defense               20
Apparel                           15
Business Services                 51
Chemicals                         30
Energy                           122
Engineering & Construction        26
Financials                       139
Food and Drug Stores              15
Food, Beverages & Tobacco         43
Health Care                       75
Hotels, Resturants & Leisure      25
Household Products                28
Industrials                       46
Materials                         43
Media                             25
Motor Vehicles & Parts            24
Retailing                         80
Technology                       102
Telecommunications                15
Transportation                    36
Wholesalers                       40

                                                                                 \
                                                                            sum
Sector
Aerospace & Defense           BoeingUnited TechnologiesLockheed MartinGenera...
Apparel                       NikeVFPVHRalph LaurenHanesbrandsLevi StraussCo...
Business Services             ManpowerGroupOmnicom GroupAramarkVisaWaste Man...
Chemicals                     Dow ChemicalDuPontPPG IndustriesMonsantoEcolab...
Energy                        Exxon MobilChevronPhillips 66Valero EnergyMara...
Engineering & Construction    FluorAECOMJacobs Engineering GroupD.R. HortonL...
Financials                    Berkshire HathawayFannie MaeJ.P. Morgan ChaseB...
Food and Drug Stores          CVS HealthKrogerWalgreens Boots AlliancePublix...
Food, Beverages & Tobacco     Archer Daniels MidlandPepsiCoCoca-ColaTyson Fo...
Health Care                   McKessonUnitedHealth GroupAmerisourceBergenCar...
Hotels, Resturants & Leisure  McDonald’sStarbucksMarriott InternationalYum B...
Household Products            Procter & GambleKimberly-ClarkColgate-Palmoliv...
Industrials                   General ElectricCaterpillarHoneywell Internati...
Materials                     AlcoaInternational PaperNucorUnited States Ste...
Media                         DisneyTwenty-First Century FoxTime WarnerCBSVi...
Motor Vehicles & Parts        General MotorsFord MotorJohnson ControlsPaccar...
Retailing                     WalmartCostcoHome DepotTargetLowe’sBest BuyTJX...
Technology                    AppleAmazon.comHPMicrosoftIBMAlphabetIntelCisc...
Telecommunications            AT&TVerizonComcastTime Warner CableCenturyLink...
Transportation                UPSFedExAmerican Airlines GroupDelta Air Lines...
Wholesalers                   SyscoIngram MicroWorld Fuel ServicesAvnetTech ...

                                                            Industry  \
                                                        min     size
Sector
Aerospace & Defense                           B/E Aerospace       20
Apparel                                            Carter’s       15
Business Services                            ABM Industries       51
Chemicals                                       A. Schulman       30
Energy                                                  AES      122
Engineering & Construction                            AECOM       26
Financials                                              AIG      139
Food and Drug Stores                             CVS Health       15
Food, Beverages & Tobacco        Alliance One International       43
Health Care                                          AbbVie       75
Hotels, Resturants & Leisure                Bloomin’ Brands       25
Household Products                            Avon Products       28
Industrials                                              3M       46
Materials                            A-Mark Precious Metals       43
Media                                          AMC Networks       25
Motor Vehicles & Parts        Allison Transmission Holdings       24
Retailing                              99 Cents Only Stores       80
Technology                              Activision Blizzard      102
Telecommunications                                     AT&T       15
Transportation                             Alaska Air Group       36
Wholesalers                                          Airgas       40

                                                                                 \
                                                                            sum
Sector
Aerospace & Defense           Aerospace and DefenseAerospace and DefenseAero...
Apparel                       ApparelApparelApparelApparelApparelApparelAppa...
Business Services             Temporary HelpAdvertising, marketingDiversifie...
Chemicals                     ChemicalsChemicalsChemicalsChemicalsChemicalsC...
Energy                        Petroleum RefiningPetroleum RefiningPetroleum ...
Engineering & Construction    Engineering, ConstructionEngineering, Construc...
Financials                    Insurance: Property and Casualty (Stock)Divers...
Food and Drug Stores          Food and Drug StoresFood and Drug StoresFood a...
Food, Beverages & Tobacco     Food ProductionFood Consumer ProductsBeverages...
Health Care                   Wholesalers: Health CareHealth Care: Insurance...
Hotels, Resturants & Leisure  Food ServicesFood ServicesHotels, Casinos, Res...
Household Products            Household and Personal ProductsHousehold and P...
Industrials                   Industrial MachineryConstruction and Farm Mach...
Materials                     MetalsPackaging, ContainersMetalsMetalsPackagi...
Media                         EntertainmentEntertainmentEntertainmentEnterta...
Motor Vehicles & Parts        Motor Vehicles and PartsMotor Vehicles and Par...
Retailing                     General MerchandisersSpecialty Retailers: Othe...
Technology                    Computers, Office EquipmentInternet Services a...
Telecommunications            TelecommunicationsTelecommunicationsTelecommun...
Transportation                Mail, Package, and Freight DeliveryMail, Packa...
Wholesalers                   Wholesalers: Food and GroceryWholesalers: Elec...

                                                                       \
                                                                  min
Sector
Aerospace & Defense                             Aerospace and Defense
Apparel                                                       Apparel
Business Services                              Advertising, marketing
Chemicals                                                   Chemicals
Energy                                                         Energy
Engineering & Construction                  Engineering, Construction
Financials                                           Commercial Banks
Food and Drug Stores                             Food and Drug Stores
Food, Beverages & Tobacco                                   Beverages
Health Care                   Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure                            Food Services
Household Products                        Home Equipment, Furnishings
Industrials                           Construction and Farm Machinery
Materials                                   Building Materials, Glass
Media                                                   Entertainment
Motor Vehicles & Parts                       Motor Vehicles and Parts
Retailing                              Automotive Retailing, Services
Technology                                       Computer Peripherals
Telecommunications                                 Telecommunications
Transportation                                               Airlines
Wholesalers                                             Miscellaneous

                             Location  \
                                 size
Sector
Aerospace & Defense                20
Apparel                            15
Business Services                  51
Chemicals                          30
Energy                            122
Engineering & Construction         26
Financials                        139
Food and Drug Stores               15
Food, Beverages & Tobacco          43
Health Care                        75
Hotels, Resturants & Leisure       25
Household Products                 28
Industrials                        46
Materials                          43
Media                              25
Motor Vehicles & Parts             24
Retailing                          80
Technology                        102
Telecommunications                 15
Transportation                     36
Wholesalers                        40

                                                                                 \
                                                                            sum
Sector
Aerospace & Defense           Chicago, ILFarmington, CTBethesda, MDFalls Chu...
Apparel                       Beaverton, ORGreensboro, NCNew York, NYNew Yor...
Business Services             Milwaukee, WINew York, NYPhiladelphia, PAFoste...
Chemicals                     Midland, MIWilmington, DEPittsburgh, PASt. Lou...
Energy                        Irving, TXSan Ramon, CAHouston, TXSan Antonio,...
Engineering & Construction    Irving, TXLos Angeles, CAPasadena, CAFort Wort...
Financials                    Omaha, NEWashington, DCNew York, NYCharlotte, ...
Food and Drug Stores          Woonsocket, RICincinnati, OHDeerfield, ILLakel...
Food, Beverages & Tobacco     Chicago, ILPurchase, NYAtlanta, GASpringdale, ...
Health Care                   San Francisco, CAMinnetonka, MNChesterbrook, P...
Hotels, Resturants & Leisure  Oak Brook, ILSeattle, WABethesda, MDLouisville...
Household Products            Cincinnati, OHIrving, TXNew York, NYNew Britai...
Industrials                   Fairfield, CTPeoria, ILMorris Plains, NJSt. Pa...
Materials                     New York, NYMemphis, TNCharlotte, NCPittsburgh...
Media                         Burbank, CANew York, NYNew York, NYNew York, N...
Motor Vehicles & Parts        Detroit, MIDearborn, MIMilwaukee, WIBellevue, ...
Retailing                     Bentonville, ARIssaquah, WAAtlanta, GAMinneapo...
Technology                    Cupertino, CASeattle, WAPalo Alto, CARedmond, ...
Telecommunications            Dallas, TXNew York, NYPhiladelphia, PANew York...
Transportation                Atlanta, GAMemphis, TNFort Worth, TXAtlanta, G...
Wholesalers                   Houston, TXIrvine, CAMiami, FLPhoenix, AZClear...

                                                     Revenue                 \
                                                 min    size      sum   min
Sector
Aerospace & Defense                       Berwyn, PA      20   357940  1923
Apparel                                  Atlanta, GA      15    95968  2204
Business Services                      Arlington, VA      51   272195  1910
Chemicals                              Allentown, PA      30   243897  2084
Energy                                     Akron, OH     122  1517809  1898
Engineering & Construction               Atlanta, GA      26   153983  1909
Financials                               Atlanta, GA     139  2217159  1902
Food and Drug Stores                      Austin, TX      15   483769  2151
Food, Beverages & Tobacco            Arden Hills, MN      43   555967  2066
Health Care                          Abbott Park, IL      75  1614707  1987
Hotels, Resturants & Leisure           Ann Arbor, MI      25   169546  1896
Household Products                       Atlanta, GA      28   234737  1914
Industrials                   Annapolis Junction, MD      46   497581  1895
Materials                                Atlanta, GA      43   259145  1924
Media                              Beverly Hills, CA      25   220764  1921
Motor Vehicles & Parts                     Akron, OH      24   482540  1986
Retailing                                 Ankeny, IA      80  1465076  1999
Technology                              Angleton, TX     102  1377600  1920
Telecommunications                      Bethpage, NY      15   461834  2726
Transportation                           Atlanta, GA      36   408508  1995
Wholesalers                              Atlanta, GA      40   444800  1917

                             Profits                Employees
                                size     sum    min      size      sum   min
Sector
Aerospace & Defense               20   28742   -240        20   968057  6955
Apparel                           15    8236     82        15   346397  5978
Business Services                 51   28227  -1481        51  1361050  2400
Chemicals                         30   22628   -816        30   463651  1979
Energy                           122  -73447 -23119       122  1188927   480
Engineering & Construction        26    5304   -155        26   406708  1036
Financials                       139  260209  -1194       139  3359948   187
Food and Drug Stores              15   16759    -62        15  1395398  1616
Food, Beverages & Tobacco         43   51417   -253        43  1211632  1857
Health Care                       75  106114   -458        75  2678289  2924
Hotels, Resturants & Leisure      25   20697  -1394        25  2484245  8500
Household Products                28   14428  -1149        28   646038  4406
Industrials                       46   20764  -6126        46  1545229  4104
Materials                         43    4428  -1642        43   638123    52
Media                             25   24347   -881        25   550314  2341
Motor Vehicles & Parts            24   25898   -889        24  1082560  2700
Retailing                         80   47830  -1243        80  6227629  2155
Technology                       102  180473  -4359       102  3578949  2285
Telecommunications                15   48637   -271        15   832468  2700
Transportation                    36   44169   -191        36  1536793  1223
Wholesalers                       40    8233   -502        40   525597   500

In [9]:
sectors.agg({'Revenue': ['sum','mean'],
            'Profits': 'sum',
            'Employees': 'mean'})

                              Revenue               Profits     Employees
                                  sum          mean     sum          mean
Sector
Aerospace & Defense            357940  17897.000000   28742  48402.850000
Apparel                         95968   6397.866667    8236  23093.133333
Business Services              272195   5337.156863   28227  26687.254902
Chemicals                      243897   8129.900000   22628  15455.033333
Energy                        1517809  12441.057377  -73447   9745.303279
Engineering & Construction     153983   5922.423077    5304  15642.615385
Financials                    2217159  15950.784173  260209  24172.287770
Food and Drug Stores           483769  32251.266667   16759  93026.533333
Food, Beverages & Tobacco      555967  12929.465116   51417  28177.488372
Health Care                   1614707  21529.426667  106114  35710.520000
Hotels, Resturants & Leisure   169546   6781.840000   20697  99369.800000
Household Products             234737   8383.464286   14428  23072.785714
Industrials                    497581  10816.978261   20764  33591.934783
Materials                      259145   6026.627907    4428  14840.069767
Media                          220764   8830.560000   24347  22012.560000
Motor Vehicles & Parts         482540  20105.833333   25898  45106.666667
Retailing                     1465076  18313.450000   47830  77845.362500
Technology                    1377600  13505.882353  180473  35087.735294
Telecommunications             461834  30788.933333   48637  55497.866667
Transportation                 408508  11347.444444   44169  42688.694444
Wholesalers                    444800  11120.000000    8233  13139.925000