# Export CSV File with the to_csv Method

In [1]:
import pandas as pd

In [3]:
url='https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv'
baby_names = pd.read_csv(url)
baby_names.head(n=3)

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42

In [6]:
baby_names.to_csv('NYC_Baby_Names.csv',index=False,columns=['Gender','Ethnicity',"Child's First Name"], encoding='utf-8')