# Extract Rows from a MultiIndex DataFrame

In [23]:
import pandas as pd

In [24]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])
bigmac = bigmac.sort_index(level=1,ascending=False)
bigmac.head(n=7)

                      Price in US Dollars
Date       Country
2016-01-01 Vietnam                   2.67
2015-07-01 Vietnam                   2.75
2015-01-01 Vietnam                   2.81
2014-07-01 Vietnam                   2.83
2014-01-01 Vietnam                   2.84
2016-01-01 Venezuela                 0.66
2015-07-01 Venezuela                 0.67

In [6]:
bigmac.iloc[0]

Price in US Dollars    2.67
Name: (2016-01-01 00:00:00, Vietnam), dtype: float64

In [7]:
bigmac.loc['2010-01-01']

                Price in US Dollars
Country
Uruguay                        3.32
United States                  3.58
Ukraine                        1.83
UAE                            2.99
Turkey                         3.83
Thailand                       2.11
Taiwan                         2.36
Switzerland                    6.30
Sweden                         5.51
Sri Lanka                      1.83
South Korea                    2.98
South Africa                   2.46
Singapore                      3.19
Saudi Arabia                   2.67
Russia                         2.34
Poland                         2.86
Philippines                    2.21
Peru                           2.81
Pakistan                       2.42
Norway                         7.02
New Zealand                    3.61
Mexico                         2.50
Malaysia                       2.08
Lithuania                      2.87
Latvia                         3.09
Japan                          3.50
Israel                         3.99
Indonesia                      2.24
Hungary                        3.86
Hong Kong                      1.91
Euro area                      4.84
Egypt                          2.38
Denmark                        5.99
Czech Republic                 3.71
Costa Rica                     3.52
Colombia                       3.91
China                          1.83
Chile                          3.18
Canada                         3.97
Britain                        3.67
Brazil                         4.76
Australia                      3.98
Argentina                      1.84

In [8]:
bigmac.loc['2010-01-01','Argentina']

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [9]:
bigmac.loc['2010-01-01', 'Price in US Dollars']

Country
Uruguay           3.32
United States     3.58
Ukraine           1.83
UAE               2.99
Turkey            3.83
Thailand          2.11
Taiwan            2.36
Switzerland       6.30
Sweden            5.51
Sri Lanka         1.83
South Korea       2.98
South Africa      2.46
Singapore         3.19
Saudi Arabia      2.67
Russia            2.34
Poland            2.86
Philippines       2.21
Peru              2.81
Pakistan          2.42
Norway            7.02
New Zealand       3.61
Mexico            2.50
Malaysia          2.08
Lithuania         2.87
Latvia            3.09
Japan             3.50
Israel            3.99
Indonesia         2.24
Hungary           3.86
Hong Kong         1.91
Euro area         4.84
Egypt             2.38
Denmark           5.99
Czech Republic    3.71
Costa Rica        3.52
Colombia          3.91
China             1.83
Chile             3.18
Canada            3.97
Britain           3.67
Brazil            4.76
Australia         3.98
Argentina         1.84
Name: Price in US Dollars, dtype: float64

In [13]:
bigmac.loc['Date','Country']

KeyError: 'Date'

In [14]:
bigmac.loc[('2010-01-01','Argentina')]

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [16]:
bigmac.loc[('2010-01-01','Argentina'),'Price in US Dollars']

1.84

In [18]:
bigmac.loc[('2010-01-01')]

                Price in US Dollars
Country
Uruguay                        3.32
United States                  3.58
Ukraine                        1.83
UAE                            2.99
Turkey                         3.83
Thailand                       2.11
Taiwan                         2.36
Switzerland                    6.30
Sweden                         5.51
Sri Lanka                      1.83
South Korea                    2.98
South Africa                   2.46
Singapore                      3.19
Saudi Arabia                   2.67
Russia                         2.34
Poland                         2.86
Philippines                    2.21
Peru                           2.81
Pakistan                       2.42
Norway                         7.02
New Zealand                    3.61
Mexico                         2.50
Malaysia                       2.08
Lithuania                      2.87
Latvia                         3.09
Japan                          3.50
Israel                         3.99
Indonesia                      2.24
Hungary                        3.86
Hong Kong                      1.91
Euro area                      4.84
Egypt                          2.38
Denmark                        5.99
Czech Republic                 3.71
Costa Rica                     3.52
Colombia                       3.91
China                          1.83
Chile                          3.18
Canada                         3.97
Britain                        3.67
Brazil                         4.76
Australia                      3.98
Argentina                      1.84

In [19]:
bigmac.loc[('2010-01-01',)]

C:\Users\Tom\AppData\Local\Temp\ipykernel_15484\936775154.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  bigmac.loc[('2010-01-01',)]

                Price in US Dollars
Country
Uruguay                        3.32
United States                  3.58
Ukraine                        1.83
UAE                            2.99
Turkey                         3.83
Thailand                       2.11
Taiwan                         2.36
Switzerland                    6.30
Sweden                         5.51
Sri Lanka                      1.83
South Korea                    2.98
South Africa                   2.46
Singapore                      3.19
Saudi Arabia                   2.67
Russia                         2.34
Poland                         2.86
Philippines                    2.21
Peru                           2.81
Pakistan                       2.42
Norway                         7.02
New Zealand                    3.61
Mexico                         2.50
Malaysia                       2.08
Lithuania                      2.87
Latvia                         3.09
Japan                          3.50
Israel                         3.99
Indonesia                      2.24
Hungary                        3.86
Hong Kong                      1.91
Euro area                      4.84
Egypt                          2.38
Denmark                        5.99
Czech Republic                 3.71
Costa Rica                     3.52
Colombia                       3.91
China                          1.83
Chile                          3.18
Canada                         3.97
Britain                        3.67
Brazil                         4.76
Australia                      3.98
Argentina                      1.84

In [22]:
bigmac.loc[(,'Argentina')]

SyntaxError: invalid syntax (915207544.py, line 1)

In [23]:
bigmac.loc[(*,'Poland')]

SyntaxError: invalid syntax (3077284376.py, line 1)

In [24]:
bigmac.loc[(,'Brazil'),'Price in US Dollars']

SyntaxError: invalid syntax (3883762356.py, line 1)

In [25]:
bigmac.iloc[0]

Price in US Dollars    2.67
Name: (2016-01-01 00:00:00, Vietnam), dtype: float64

In [26]:
bigmac.iloc[4]

Price in US Dollars    2.84
Name: (2014-01-01 00:00:00, Vietnam), dtype: float64

In [27]:
bigmac.iloc[99]

Price in US Dollars    6.44
Name: (2016-01-01 00:00:00, Switzerland), dtype: float64

In [28]:
bigmac.iloc[[10,20,30,250]]

                          Price in US Dollars
Date       Country
2013-07-01 Venezuela                     7.15
           Uruguay                       4.98
2014-07-01 United States                 4.80
2016-01-01 Pakistan                      2.86

In [33]:
bigmac.loc[(slice(None),'Venezuela'),:]

                      Price in US Dollars
Date       Country
2016-01-01 Venezuela                 0.66
2015-07-01 Venezuela                 0.67
2015-01-01 Venezuela                 2.53
2014-07-01 Venezuela                 6.82
2014-01-01 Venezuela                 7.15
2013-07-01 Venezuela                 7.15
2013-01-01 Venezuela                 9.08
2012-07-01 Venezuela                 7.92
2012-01-01 Venezuela                 6.99
2011-07-01 Venezuela                 6.52

In [35]:
bigmac.loc[(slice(None),'Ukraine'),:]

                    Price in US Dollars
Date       Country
2016-01-01 Ukraine                 1.54
2015-07-01 Ukraine                 1.55
2015-01-01 Ukraine                 1.20
2014-07-01 Ukraine                 1.63
2014-01-01 Ukraine                 2.27
2013-07-01 Ukraine                 2.33
2013-01-01 Ukraine                 2.33
2012-07-01 Ukraine                 1.86
2012-01-01 Ukraine                 2.11
2011-07-01 Ukraine                 2.06
2010-07-01 Ukraine                 1.84
2010-01-01 Ukraine                 1.83

In [15]:
bigmac_ukraine = bigmac.loc[(slice(None),'Ukraine'),:]

In [38]:
bigmac_ukraine

                    Price in US Dollars
Date       Country
2016-01-01 Ukraine                 1.54
2015-07-01 Ukraine                 1.55
2015-01-01 Ukraine                 1.20
2014-07-01 Ukraine                 1.63
2014-01-01 Ukraine                 2.27
2013-07-01 Ukraine                 2.33
2013-01-01 Ukraine                 2.33
2012-07-01 Ukraine                 1.86
2012-01-01 Ukraine                 2.11
2011-07-01 Ukraine                 2.06
2010-07-01 Ukraine                 1.84
2010-01-01 Ukraine                 1.83

In [39]:
bigmac_ukraine['Price in US Dollars'].mean()

1.8791666666666664

In [40]:
bigmac.loc[(slice(None),'United States'),:]

                          Price in US Dollars
Date       Country
2016-01-01 United States                 4.93
2015-07-01 United States                 4.79
2015-01-01 United States                 4.79
2014-07-01 United States                 4.80
2014-01-01 United States                 4.62
2013-07-01 United States                 4.56
2013-01-01 United States                 4.37
2012-07-01 United States                 4.33
2012-01-01 United States                 4.20
2011-07-01 United States                 4.07
2010-07-01 United States                 3.73
2010-01-01 United States                 3.58

In [25]:
bigmac_USA = bigmac.loc[(slice(None),'United States'),:]

In [11]:
bigmac_USA['Price in US Dollars'].mean()

4.3975

In [12]:
bigmac.mean()

Price in US Dollars    3.742853
dtype: float64

In [5]:
bigmac['Price in US Dollars'].sum()

2440.34

In [6]:
bigmac['Price in US Dollars'].count()

652

In [7]:
2440.34 / 652

3.7428527607361963

In [8]:
bigmac['Price in US Dollars'].mean()

3.7428527607361963

In [14]:
bigmac_USA.mean()

Price in US Dollars    4.3975
dtype: float64

In [16]:
bigmac_Ukraine = bigmac.loc[(slice(None),'Ukraine'),:]

In [17]:
bigmac_Ukraine.mean()

Price in US Dollars    1.879167
dtype: float64

In [18]:
bigmac_Ukraine['Price in US Dollars'].mean()

1.8791666666666664

In [20]:
bigmac_Poland = bigmac.loc[(slice(None),'Poland'),:]
bigmac_Poland['Price in US Dollars'].mean()

2.7350000000000008

In [29]:
bigmac['Price in US Dollars'].mean()

3.7428527607361963

In [28]:
bigmac_USA['Price in US Dollars'].mean()

4.3975