# The .str .replace() Method

In [9]:
import pandas as pd
chicago = pd.read_csv('chicago.csv').dropna(how='all')
chicago['Department'] = chicago['Department'].str.title()
chicago['Department'] = chicago['Department'].astype('category')
chicago['Position Title'] = chicago['Position Title'].str.title()
chicago['Name'] = chicago['Name'].str.title()
chicago.head(n=3)

                Name    Position Title   Department Employee Annual Salary
0    Aaron,  Elvia J  Water Rate Taker  Water Mgmnt              $90744.00
1  Aaron,  Jeffery M    Police Officer       Police              $84450.00
2     Aaron,  Karina    Police Officer       Police              $84450.00

In [10]:
'Hello world'.replace('l', 'X_x')

'HeX_xX_xo worX_xd'

In [12]:
chicago['Position Title'].str.replace('A', 'a_X').tail(17)

32045                  Electrical Mechanic
32046    Senior Public Information Officer
32047                       Police Officer
32048                      Legal Secretary
32049                       Crossing Guard
32050              Pool Motor Truck Driver
32051        a_Xirport Operations Supvsr I
32052                       Police Officer
32053                      Firefighter-Emt
32054                       Police Officer
32055                       Police Officer
32056             Machinist (a_Xutomotive)
32057     Frm Of Machinists - a_Xutomotive
32058                       Police Officer
32059                       Police Officer
32060                       Police Officer
32061            Chief Data Base a_Xnalyst
Name: Position Title, dtype: object

In [13]:
chicago['Department']

0             Water Mgmnt
1                  Police
2                  Police
3        General Services
4             Water Mgmnt
               ...
32057    General Services
32058              Police
32059              Police
32060              Police
32061                Doit
Name: Department, Length: 32062, dtype: category
Categories (35, object): ['Admin Hearng', 'Animal Contrl', 'Aviation', 'Board Of Election', ..., 'Streets & San', 'Transportn', 'Treasurer', 'Water Mgmnt']

In [15]:
chicago['Department'].str.replace('Mgmnt', 'Management')

0        Water Management
1                  Police
2                  Police
3        General Services
4        Water Management
               ...
32057    General Services
32058              Police
32059              Police
32060              Police
32061                Doit
Name: Department, Length: 32062, dtype: object

In [18]:
chicago['Departmen'] = chicago['Department'].str.replace('Mgmnt', 'Management')

In [19]:
chicago.head()

,Name,Position Title,Department,Employee Annual Salary,Departmen
0,"Aaron, Elvia J",Water Rate Taker,Water Mgmnt,$90744.00,Water Management
1,"Aaron, Jeffery M",Police Officer,Police,$84450.00,Police
2,"Aaron, Karina",Police Officer,Police,$84450.00,Police
3,"Aaron, Kimberlei R",Chief Contract Expediter,General Services,$89880.00,General Services
4,"Abad Jr, Vicente M",Civil Engineer Iv,Water Mgmnt,$106836.00,Water Management

In [21]:
chicago['Employee Annual Salary'].str.replace('$','')

C:\Users\Tom\AppData\Local\Temp\ipykernel_6604\2548171693.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chicago['Employee Annual Salary'].str.replace('$','')

0         90744.00
1         84450.00
2         84450.00
3         89880.00
4        106836.00
           ...
32057     99528.00
32058     87384.00
32059     84450.00
32060     87384.00
32061    113664.00
Name: Employee Annual Salary, Length: 32062, dtype: object

In [22]:
chicago['Employee Annual Salary'] = chicago['Employee Annual Salary'].str.replace('$','')

C:\Users\Tom\AppData\Local\Temp\ipykernel_6604\2320363852.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chicago['Employee Annual Salary'] = chicago['Employee Annual Salary'].str.replace('$','')

In [23]:
chicago.head()

,Name,Position Title,Department,Employee Annual Salary,Departmen
0,"Aaron, Elvia J",Water Rate Taker,Water Mgmnt,90744.00,Water Management
1,"Aaron, Jeffery M",Police Officer,Police,84450.00,Police
2,"Aaron, Karina",Police Officer,Police,84450.00,Police
3,"Aaron, Kimberlei R",Chief Contract Expediter,General Services,89880.00,General Services
4,"Abad Jr, Vicente M",Civil Engineer Iv,Water Mgmnt,106836.00,Water Management

In [24]:
chicago['Employee Annual Salary'].astype('float')

0         90744.0
1         84450.0
2         84450.0
3         89880.0
4        106836.0
           ...
32057     99528.0
32058     87384.0
32059     84450.0
32060     87384.0
32061    113664.0
Name: Employee Annual Salary, Length: 32062, dtype: float64

In [27]:
chicago['Employee Annual Salary'] = chicago['Employee Annual Salary'].astype(float)

In [28]:
chicago.head()

,Name,Position Title,Department,Employee Annual Salary,Departmen
0,"Aaron, Elvia J",Water Rate Taker,Water Mgmnt,90744.0,Water Management
1,"Aaron, Jeffery M",Police Officer,Police,84450.0,Police
2,"Aaron, Karina",Police Officer,Police,84450.0,Police
3,"Aaron, Kimberlei R",Chief Contract Expediter,General Services,89880.0,General Services
4,"Abad Jr, Vicente M",Civil Engineer Iv,Water Mgmnt,106836.0,Water Management

In [30]:
chicago['Employee Annual Salary'].sum()

2571506375.36

In [31]:
chicago['Employee Annual Salary'].mean()

80204.17863389682

In [32]:
chicago['Employee Annual Salary'].std()

25098.32986750994

In [33]:
chicago['Employee Annual Salary'].nlargest(10)

8184     300000.0
7954     216210.0
25532    202728.0
8924     197736.0
8042     197724.0
19208    195000.0
3706     187680.0
18556    187680.0
29466    187680.0
13754    185364.0
Name: Employee Annual Salary, dtype: float64

In [42]:
chicago.loc[8184]

Name                              Evans,  Ginger S
Position Title            Commissioner Of Aviation
Department                                Aviation
Employee Annual Salary                    300000.0
Departmen                                 Aviation
Name: 8184, dtype: object

In [43]:
keys = chicago['Employee Annual Salary'].nlargest(10)

In [53]:
for k in keys.keys():
    print(chicago.loc[k]['Name' : 'Position Title'])

Name                      Evans,  Ginger S
Position Title    Commissioner Of Aviation
Name: 8184, dtype: object
Name              Emanuel,  Rahm
Position Title             Mayor
Name: 7954, dtype: object
Name              Santiago,  Jose A
Position Title    Fire Commissioner
Name: 25532, dtype: object
Name                         Ford Ii,  Richard C
Position Title    First Deputy Fire Commissioner
Name: 8924, dtype: object
Name                       Escalante,  John J
Position Title    First Deputy Superintendent
Name: 8042, dtype: object
Name              Mitchell,  Eileen M
Position Title         Chief Of Staff
Name: 19208, dtype: object
Name                  Callahan,  Michael E
Position Title    Deputy Fire Commissioner
Name: 3706, dtype: object
Name                    Mc Nicholas,  John
Position Title    Deputy Fire Commissioner
Name: 18556, dtype: object
Name                   Vasquez,  Anthony P
Position Title    Deputy Fire Commissioner
Name: 29466, dtype: object
Name              Johnson,  Eddie T
Position Title                Chief
Name: 13754, dtype: object

In [54]:
keys.keys()

Int64Index([8184, 7954, 25532, 8924, 8042, 19208, 3706, 18556, 29466, 13754], dtype='int64')

In [47]:
keys.keys()

Int64Index([8184, 7954, 25532, 8924, 8042, 19208, 3706, 18556, 29466, 13754], dtype='int64')

In [58]:
keys

8184     300000.0
7954     216210.0
25532    202728.0
8924     197736.0
8042     197724.0
19208    195000.0
3706     187680.0
18556    187680.0
29466    187680.0
13754    185364.0
Name: Employee Annual Salary, dtype: float64

In [59]:
keys[0]

KeyError: 0

In [60]:
keys.keys()

Int64Index([8184, 7954, 25532, 8924, 8042, 19208, 3706, 18556, 29466, 13754], dtype='int64')

In [61]:
keys.keys()[0]

8184

In [62]:
keys.keys().to_numpy()

array([ 8184,  7954, 25532,  8924,  8042, 19208,  3706, 18556, 29466,
       13754], dtype=int64)

In [63]:
corruption = [] 
for k in keys.keys():
    corruption.append(k)

In [64]:
corruption

[8184, 7954, 25532, 8924, 8042, 19208, 3706, 18556, 29466, 13754]

In [65]:
chicago.loc[corruption[0]]

Name                              Evans,  Ginger S
Position Title            Commissioner Of Aviation
Department                                Aviation
Employee Annual Salary                    300000.0
Departmen                                 Aviation
Name: 8184, dtype: object

In [66]:
chicago.loc[corruption]

,Name,Position Title,Department,Employee Annual Salary,Departmen
8184,"Evans, Ginger S",Commissioner Of Aviation,Aviation,300000.0,Aviation
7954,"Emanuel, Rahm",Mayor,Mayor'S Office,216210.0,Mayor'S Office
25532,"Santiago, Jose A",Fire Commissioner,Fire,202728.0,Fire
8924,"Ford Ii, Richard C",First Deputy Fire Commissioner,Fire,197736.0,Fire
8042,"Escalante, John J",First Deputy Superintendent,Police,197724.0,Police
19208,"Mitchell, Eileen M",Chief Of Staff,Mayor'S Office,195000.0,Mayor'S Office
3706,"Callahan, Michael E",Deputy Fire Commissioner,Fire,187680.0,Fire
18556,"Mc Nicholas, John",Deputy Fire Commissioner,Fire,187680.0,Fire
29466,"Vasquez, Anthony P",Deputy Fire Commissioner,Fire,187680.0,Fire
13754,"Johnson, Eddie T",Chief,Police,185364.0,Police

In [68]:
chicago.loc[keys.keys()]

,Name,Position Title,Department,Employee Annual Salary,Departmen
8184,"Evans, Ginger S",Commissioner Of Aviation,Aviation,300000.0,Aviation
7954,"Emanuel, Rahm",Mayor,Mayor'S Office,216210.0,Mayor'S Office
25532,"Santiago, Jose A",Fire Commissioner,Fire,202728.0,Fire
8924,"Ford Ii, Richard C",First Deputy Fire Commissioner,Fire,197736.0,Fire
8042,"Escalante, John J",First Deputy Superintendent,Police,197724.0,Police
19208,"Mitchell, Eileen M",Chief Of Staff,Mayor'S Office,195000.0,Mayor'S Office
3706,"Callahan, Michael E",Deputy Fire Commissioner,Fire,187680.0,Fire
18556,"Mc Nicholas, John",Deputy Fire Commissioner,Fire,187680.0,Fire
29466,"Vasquez, Anthony P",Deputy Fire Commissioner,Fire,187680.0,Fire
13754,"Johnson, Eddie T",Chief,Police,185364.0,Police

In [69]:
mask_Position = chicago['Position Title'] == 'Mayor'

In [70]:
chicago[mask_Position]

,Name,Position Title,Department,Employee Annual Salary,Departmen
7954,"Emanuel, Rahm",Mayor,Mayor'S Office,216210.0,Mayor'S Office

In [74]:
mask_department = chicago['Department'] == "Mayor'S Office"

In [75]:
chicago[mask_department]

,Name,Position Title,Department,Employee Annual Salary,Departmen
62,"Accurso, Mary K",Administrative Asst,Mayor'S Office,55008.0,Mayor'S Office
282,"Akinlemibola, Grace O",Administrative Asst,Mayor'S Office,65004.0,Mayor'S Office
1209,"Bader, Cara",Asst Administrative Secretary Iii,Mayor'S Office,80004.0,Mayor'S Office
1742,"Beatty, Helen E",Administrative Asst,Mayor'S Office,73500.0,Mayor'S Office
1969,"Berman, Emily",Administrative Asst,Mayor'S Office,50004.0,Mayor'S Office
...,...,...,...,...,...
30430,"Weil, Allison S",Student Intern - Mayor'S Fellows,Mayor'S Office,20800.0,Mayor'S Office
30559,"Wheat, Christopher O",Deputy Dir,Mayor'S Office,135000.0,Mayor'S Office
30806,"Williams Bennet, Kenneth F",First Deputy Chief Of Staff,Mayor'S Office,159996.0,Mayor'S Office
31245,"Wineman Stone, Jill",Asst To The Mayor,Mayor'S Office,116652.0,Mayor'S Office
32010,"Zovko, Erika",Administrative Asst,Mayor'S Office,62796.0,Mayor'S Office

In [77]:
chicago_crime = chicago[mask_department]

In [79]:
chicago_crime['Employee Annual Salary'].nlargest(10)

7954     216210.0
19208    195000.0
2975     169992.0
23686    168996.0
27253    168996.0
23157    162492.0
10719    162000.0
30806    159996.0
21728    154998.0
6532     154992.0
Name: Employee Annual Salary, dtype: float64

In [81]:
chicago.loc[chicago_crime['Employee Annual Salary'].nlargest(10).keys()]

,Name,Position Title,Department,Employee Annual Salary,Departmen
7954,"Emanuel, Rahm",Mayor,Mayor'S Office,216210.0,Mayor'S Office
19208,"Mitchell, Eileen M",Chief Of Staff,Mayor'S Office,195000.0,Mayor'S Office
2975,"Brown, Carole L",Chief Financial Officer,Mayor'S Office,169992.0,Mayor'S Office
23686,"Rendina, Michael",Dir Of Intergovernmental Affairs,Mayor'S Office,168996.0,Mayor'S Office
27253,"Spielfogel, David S",Asst To The Mayor,Mayor'S Office,168996.0,Mayor'S Office
23157,"Quinn, Kelley E",Press Secretary,Mayor'S Office,162492.0,Mayor'S Office
10719,"Green, Melissa",Administrative Asst,Mayor'S Office,162000.0,Mayor'S Office
30806,"Williams Bennet, Kenneth F",First Deputy Chief Of Staff,Mayor'S Office,159996.0,Mayor'S Office
21728,"Parang, Farzin",Asst To The Mayor,Mayor'S Office,154998.0,Mayor'S Office
6532,"Deal, Aaron J",Deputy Chief Of Staff,Mayor'S Office,154992.0,Mayor'S Office

In [82]:
mask_Position = chicago['Position Title'] == 'Chief Financial Officer'

In [83]:
chicago[mask_Position]

,Name,Position Title,Department,Employee Annual Salary,Departmen
2975,"Brown, Carole L",Chief Financial Officer,Mayor'S Office,169992.0,Mayor'S Office