# Inner joins, Part 2

In [1]:
import pandas as pd

In [2]:
week_1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
week_2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [3]:
week_1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [4]:
week_2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [5]:
week_1.merge(week_2, how='inner',on=['Customer ID' , 'Food ID'])

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

In [6]:
week_1[week_1['Customer ID'] == 21]

     Customer ID  Food ID
101           21        4
212           21        4

In [7]:
week_2[week_2['Customer ID'] == 21]

    Customer ID  Food ID
30           21        4

In [8]:
week_1[week_1['Customer ID'] == 578]

     Customer ID  Food ID
224          578        5

In [9]:
week_2[week_2['Customer ID'] == 578]

     Customer ID  Food ID
29           578        5
189          578        5