In [2]:
import pandas as pd

data = pd.read_csv("students.csv")

In [4]:
data

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eve   25       New York
5    Frank   28         Boston
6    Grace   22  San Francisco
7    Helen   32    Los Angeles
8      Ivy   29        Chicago
9     Jack   26       New York

In [7]:
mask = data.loc[:,"City"] == "San Francisco"

len(data.loc[mask])

2

In [14]:
mask = data.loc[:,"City"] == "Chicago"

data_chicago = data.loc[mask]
# data_chicago
data_chicago.loc[:,"Age"].mean()

np.float64(34.5)

In [9]:
data

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eve   25       New York
5    Frank   28         Boston
6    Grace   22  San Francisco
7    Helen   32    Los Angeles
8      Ivy   29        Chicago
9     Jack   26       New York

In [10]:
mask = data.loc[:,"Age"] >= 30

len(data.loc[mask])

4